h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.quiet {
	font-size: 80%;
}

th select {
	padding: 1px;
	height: auto;
	margin-bottom: 0;
}




//Team colors
// http://teamcolors.arc90.com/


.ARI { fill: #A71930; color: #A71930; stroke: #ddd; }
.ATL { fill: #CE1141; color: #CE1141; stroke: #ddd; }
.BAL { fill: #DF4601; color: #DF4601; stroke: #ddd; }
.BOS { fill: #BD3039; color: #BD3039; stroke: #ddd; }
.CHC { fill: #0E3386; color: #0E3386; stroke: #ddd; }
.CIN { fill: #C6011F; color: #C6011F; stroke: #ddd; }
.CLE { fill: #E31937; color: #E31937; stroke: #ddd; }
.COL { fill: #333366; color: #333366; stroke: #ddd; }
.CWS { fill: #000000; color: #000000; stroke: #ddd; }
.DET { fill: #0C2C56; color: #0C2C56; stroke: #ddd; }
.HOU { fill: #EB6E1F; color: #EB6E1F; stroke: #ddd; }
.KC { fill: #004687; color: #004687; stroke: #ddd; }
.LAA { fill: #BA0021; color: #BA0021; stroke: #ddd; }
.LAD { fill: #005A9C; color: #005A9C; stroke: #ddd; }
.MIA { fill: #FF6600; color: #FF6600; stroke: #ddd; }
.MIL { fill: #B6922E; color: #B6922E; stroke: #ddd; }
.MIN { fill: #D31145; color: #D31145; stroke: #ddd; }
.NYM { fill: #FF5910; color: #FF5910; stroke: #ddd; }
.NYY { fill: #003087; color: #003087; stroke: #ddd; }
.OAK { fill: #003831; color: #003831; stroke: #ddd; }
.PHI { fill: #E81828; color: #E81828; stroke: #ddd; }
.PIT { fill: #FDB827; color: #FDB827; stroke: #ddd; }
.SD { fill: #002D62; color: #002D62; stroke: #ddd; }
.SEA { fill: #005C5C; color: #005C5C; stroke: #ddd; }
.SF { fill: #FD5A1E; color: #FD5A1E; stroke: #ddd; }
.STL { fill: #C41E3A; color: #C41E3A; stroke: #ddd; }
.TB { fill: #092C5C; color: #092C5C; stroke: #ddd; }
.TEX { fill: #C0111F; color: #C0111F; stroke: #ddd; }
.TOR { fill: #134A8E; color: #134A8E; stroke: #ddd; }
.WSH { fill: #AB0003; color: #AB0003; stroke: #ddd; }

//tooltip style 
.responsive-wrap {
	@include clearfix;

	position: relative;
	padding-bottom: 100%;
	height: 0;
	@include breakpoint(small only) {
		padding-top: 85px;
	}
	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include breakpoint(small only) {
			margin-top: 85px;
		}
	}


	.tooltip-wrapper {

		background-color: rgba(255, 255, 255, 0.3);

		[js-target="title"] {
			margin: 0 0 3px;
			font-size: 14px;
			font-weight: bold;
		} 
		.perpitch {
			margin: 0;
			font-size: 12px;
			font-weight: bold;
		}
		.desc {
			margin: 0;
			font-size: 11px;
		}

		@include breakpoint(small only) {
			margin-top: -85px;
		}

		@include breakpoint(medium) {
			position: absolute;
			left: 0;
			top: 0;
			width: 170px;
			padding: 5px;
		}

		@include breakpoint(large) {
			[js-target="title"] {
				font-size: 16px;
			} 
			.perpitch {
				font-size: 14px;
			}
			.desc {
				font-size: 12px;
			}
		}
	}

	.howto {
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba(255, 255, 255, 0.8);
		width: 190px;
		padding: 5px;
		font-size: 12px;
		p {
			margin:0;
		}
	}

}

