<li><a href="{{ site.url }}">Home</a></li>
<li><a href="https://github.com/daigofuji/expensive-pitch">github</a></li>
<li><a href="http://mlb.mlb.com/stats/sortable.jsp#elem=%5Bobject+Object%5D&tab_level=child&click_text=Sortable+Player+pitching&game_type='R'&season=2015&season_type=ANY&league_code='MLB'&sectionType=sp&statType=pitching&page=1&ts=1458421053100&timeframe=&playerType=ALL&sortColumn=np&sortOrder='desc'&extended=1">MLB.com pitching data</a></li>
<li><a href="http://www.usatoday.com/sports/mlb/salaries/2015/player/p/">Salary Data</a></li>
